@tailwind preflight;

@tailwind components;

a {
  @apply no-underline;
}

.label {
  @apply block text-grey-darker text-sm font-bold mb-2;
}

.dataTables_filter input {
  @apply appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;
}

.title {
  @apply text-grey-dark text-lg font-light;
}

.input {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight;
}
.input:focus {
  @apply border-orange-dark;
}
.button {
  @apply border border-orange text-orange-dark font-bold py-2 px-4 rounded;
}
.button:hover {
  @apply bg-orange text-white;
}
.button:focus {
  @apply bg-orange;
}

.button-danger {
  @apply border border-red text-red-dark font-bold py-2 px-4 rounded;
}
.button-danger:hover {
  @apply bg-red text-white;
}
.button-danger:focus {
  @apply bg-red;
}
@tailwind utilities;
